<%= render partial: 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= I18n.t('slider.editing_slide') %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= link_to I18n.t('slider.back_to_slides'), new_object_url, { id: 'admin_new_slide' , class: 'btn btn-primary' } %>
  </li>
  <li>
    <%= link_to I18n.t('slider_locations.new_location'), admin_slide_locations_path, { id: 'admin_new_slide_location' , class: 'btn btn-primary' } %>
  </li>
<% end %>

<%= render 'spree/shared/error_messages', target: @slide %>

<%= form_for [:admin, @slide], html: { multipart: true } do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
  <div class="form-actions" data-hook="buttons">
    <%= render partial: 'spree/admin/shared/edit_resource_links' %>
  </div>
<% end %>
