<%= render partial: 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t('slider.new_slide') %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t('slider.back_to_slides'), spree.admin_slides_path %>
  </li>
<% end %>

<%= render 'spree/shared/error_messages', target: @slide %>

<%= form_for [:admin, @slide] , html: { multipart: true } do |f| %>
  <%= render :partial => 'form', locals: { f: f } %>
  <%= render partial: 'spree/admin/shared/new_resource_links' %>
<% end %>
