<h1><%= t(:slide) %></h1>
<h1><%= I18n.t('spree.slide') %></h1>

<table class="table">
  <tr data-hook="product_id">
    <th><%= I18n.t('spree.product') %></th>
    <td>
      <%= @slide.product.name unless @slide.product_id.blank? %>
    </td>
  </tr>
  <tr data-hook="name">
    <th><%= I18n.t('spree.name') %></th>
    <td>
      <%= @slide.name %>
    </td>
  </tr>
  <tr data-hook="body">
    <th><%= I18n.t('spree.body') %></th>
    <td>
      <%= @slide.body %>
    </td>
  </tr>
  <tr data-hook="link_url">
    <th><%= I18n.t('spree.link_url') %></th>
    <td>
      <%= @slide.link_url %>
    </td>
  </tr>
  <tr data-hook="published">
    <th><%= I18n.t('spree.published') %></th>
    <td>
      <%= @slide.published ? I18n.t('spree.y') : I18n.t('spree.n') %>
    </td>
  </tr>
  <tr data-hook="image_file_name">
    <th><%= I18n.t('spree.image_file_name') %></th>
    <td>
      <%= @slide.image_file_name %>
    </td>
  </tr>
  <tr data-hook="position">
    <th><%= I18n.t('spree.position') %></th>
    <td>
      <%= @slide.position %>
    </td>
  </tr>
</table>

<p>
  <%= link_to_edit @slide, class: 'edit_slide' %> <%= I18n.t('spree.or') %>
  <%= link_to I18n.t('spree.back'), collection_url %>
</p>
