<% if slider.size > 0 %>

    <%# generate a random number for the carousel id - in case you want multiple per page %>
    <% cid ||= Random.rand(1000) %>
    <% slider_id= defined?(id) ? id : "carousel-slider-#{cid}" %>
    <div id="<%= slider_id %>" class="carousel">

      <%# Wrapper for slider %>
      <% slider.each_with_index do |slide, index| %>
          <div class="item">
            <%= link_to image_tag(slide.slide_image.url, alt: slide.slide_caption), url_for(slide.slide_link) %>
            <div>
              <% if slide.show_caption? %>
                  <h3><%= slide.slide_caption %></h3>
              <% end %>
              <% unless slide.body.blank? %>
                  <p><%= slide.body %><p>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>
    <script>
      $(document).ready(function () {

        $("#<%= slider_id %>").owlCarousel({
          slideSpeed : 800,
          singleItem: true,
          autoPlay: 5000,
          stopOnHover: true,
          dots:false,
          navigation:false
          // navigationText: ['<span class="slideshow-arrow slideshow-arrow-left"></span>', '<span class="slideshow-arrow slideshow-arrow-right"></span>'],
//          transitionStyle: "goDown"
        });


      });
    </script>

<% end %>
